* {
    margin: 0;
    padding: 0;
    font-family: "NS-Medium", sans-serif;
}

body {
    color: #1D1D1F;
    background-color: #F5F5F7;
    cursor: url("/cursors/pointer.png"), default;
}

.poem_today {
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.poem_today #poem_info {
    margin-right: 0.4rem;
    font-size: 1rem;
    font-family: "NS-Black", sans-serif;
}

.poem_today #poem_sentence {
    font-size: 1.5rem;
}